.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    left: -80px;
    top: -80px;
}
.shape:last-child{
    right: -30px;
    bottom: -80px;
}
#container {
    top: 50px; 
    width: 100%;
    height: 100%;
    position: relative;
}
#container2 {
    top: 150px;
    width: 100%;
    height: 100%;
    position: relative;
}
.header{
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
    display: inline-flex;
}
.headerTitle{
    width: 60%;
    font-size: 25px;
    font-weight: 500;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: 50px;
}
.userName{
    width: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.logout_btn {
    color: white;
    width: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}
.logout_link {
    color: white;
}
/* törzs */
*{
box-sizing: border-box;
}
.column {
float: left;
width: 33.33%;
padding: 10px;
}
.row:after {
content: "";
display: table;
clear: both;
}
.column_1 {
    float: left;
    width: 12%;
    padding: 10px;
    height: 300px;
}
.column_2{
    float: left;
    width: 58%;
    padding: 10px;
    height: 300px;
}
.column_3 {
    float: left;
    width: 30%;
    padding: 10px;
    height: 300px;
    text-align: center;
}
/* hozzáadás gomb */
.plusBTN {
    height: 80px;
    line-height: 80px;  
    width: 80px;  
    font-size: xx-large;
    font-weight: bolder;
    border-radius: 50%;
    border: none;
    color: white;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    background: linear-gradient(
        to right,
        #c42727,
        #f95656
    );
    box-shadow: 0 0 10px #f8a1a1;
  }

  