*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',sans-serif;
    background-color: #080710;
    color: white;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
/* két kör */
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    box-shadow: 0 0 15px #a1d5f8;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    box-shadow: 0 0 15px #fdaf42;
}
/* reg és login form */
form {
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.reg_log_button{
    margin-top: 50px;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    width: auto;
    height: auto;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    top: 5%;
    left: 10%;
    right: 10%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 20px;
    display: flex;
    justify-content: space-between; /* Elemek távolsága */
    align-items: center;
}

.headerTitle {
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
}

.userSection {
    display: flex;
    align-items: center;
    gap: 20px; /* Távolság az ikon és a gomb között */
}

.userName {
    display: flex;
    align-items: center;
    gap: 10px; /* Távolság az ikon és a név között */
}

.userIcon {
    font-size: 1.2em;
}

.logout_btn {
    margin: 0;
}

.logout_link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    background: linear-gradient(to right, #c42727, #f95656);
    border-radius: 5px;
    font-size: 0.9em;
    font-weight: bold;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    transition: background 0.3s ease;
}

.logout_link:hover {
    background: linear-gradient(to right, #a32222, #d94444);
}
